.multiple-scatter-plot-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .multiple-scatter-plot{
        position: relative;
        width: 100%;
        height: 100%;
        .tooltip {
            position: absolute;
        }
        
    }
    .side-bar {
        height: 100%;
        display: flex;
        flex-direction: column;
        .color-zone {
            flex: 1;
            border: solid 1px;
        }
        .button-zone {
            height: 60px;
            display: flex;
            align-items: flex-end;
        }
    }
}