.advertisement-app {
  background: white;
  // padding: 24px;
  // display: flex;
  // justify-content: center;
  width: 100%;
  height: 100vh;

  .visualization-wrapper {
    margin: auto;
    width: calc(100% - 32px);
    padding: 68px 0px 20px 0px;
  }
}
.button-contents {
  width: 100%;
  // margin: auto;

  padding: 0 10px;
  height: 50px;
  padding-top: 10px;
  background-color: white;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgb(217, 217, 217);
  // position: fixed;
  // z-index: 10;
}

.mr-b-16 {
  margin-bottom: 16px !important;
}

.visualizations {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.1);
  padding: 16px 20px;
}

// .adset-list-header {
//   display: flex;
//   align-content: space-between;
//   justify-content: space-between;
//   margin-bottom: 16px;
//   .option {
//     height: 20px;
//     line-height: 24px;
//     font-size: x-small;
//     color: rgb(0, 0, 0, 0.4);
//     cursor: pointer;
//   }
// }

.title {
  font-size: 14px;
  font-weight: 600;
  height: 20px;
  padding-left: 4px;
  margin-bottom: 20px;
}


.line-graph {
  height: 300px;
  width: 600px;
}

.component-area {
  width: 100%;
  height: calc(100% - 40px);
}

.adset-list {
  overflow-y: auto;
  overflow-x: hidden;
  // scrollbar-width: thin;
  // &::-webkit-scrollbar {
  //   width: 10px;
  // }
  // &::-webkit-scrollbar-button {
  //   width: 0;
  //   height: 0;
  // }

  .adset-item {
    width: 200px;
    height: 30px;
    padding: 8px;
    cursor: pointer;
    // margin: auto;
    // justify-content: center;
    // align-items: center;

    .adset-color {
      width: 13px !important;
      height: 13px;
      border-radius: 50%;
    }
    .adset-name {
      width: 100px;
      padding-left: 16px;
      line-height: 13px;
      font-size: 13px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #aaa;
      &[selected] {
        font-weight: 500;
        color: #777;
      }
    }
  }
}

.d-flex {
  display: flex;
}

.adset-list::-webkit-scrollbar {
  width: 6px;
  background: white;
}
.adset-list::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
}
.adset-list::-webkit-scrollbar-track {
  background-color: white;
}


.multiple-scatter-plot-area {
  height: 21% !important;
  .component-area {
    &:hover {
      cursor: pointer;
    }
  }
  .multiple-scatter-plot-title {
    font-size: 8px;
    font-weight: 500;
    height: 100% !important;
    text-align: center;
    // padding-left: 36px;
  }
  .padding-small {
    padding: 8px;
  }
}

.scatter-plot-guide {
  font-size: medium;
  font-weight: 500;
  height: 20px;
  text-align: center;
  &.y-guide {
    margin: auto;
    writing-mode: vertical-lr;
    transform: rotate(0.5turn);
  }
}

.content-layout {
  // max-width: calc(100% - 64px);
  // padding-left: 16px;
  // max-width: calc(100% - 150px);
  height: calc(100vh - 50px);
  // background: #f1f1f1;
  .adsetList{
    padding-left: 16px;
    padding-top: 8px;
    width: 150px;
    background: white;
    // height: calc(10);
    border-right: 1px solid rgb(217, 217, 217);
  }
  .contentList {
    width: calc(100% - 150px);
    padding: 8px 16px;
  }
  .multiple-visualization {
    background: white;
    flex: 1;
    height: calc((100vh - 76px) / 2);
  }
  .detail-view {
    flex: 1;

  }
  .table-content {
    width: 600px;
  }
  .contents {
    width: 100%;
    height: 50%;
  }
  .vis-content {
    height: 100%;
    background: white;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid rgb(217, 217, 217);
  }
  .contnet-mg {
    width: 48%;
    margin-right: 2%;
  }
  // .visualizations {

  // }
}

.flex-1 {
  flex: 1;
  max-width: calc(50% - 8px);
  .c-name {
    font-size: 14px;
    font-weight: 600;
    height: 22px;
  }
  .c-content {
    margin-top: 6px;
    width: 100%;
    height: calc(100% - 36px);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 4px;
    background: white;
  }
}

.ant-calendar-range-picker-input {
  font-size: 11px !important;
}